<p>
This program is carried out at a dedicated garden at Brookton Berryard, a micro-farm on the property of The Mills' Place, in the valley below the Hog's Back in the Hamlet of Brooktondale, Town of Caroline, Tompkins County, New York, zone 5b. If successful, the resulting variety will be named in honor of Mary Emily Mills ("Emily Mills"), for whom The Mills' Place is named. To learn more about Emily Mills and The Mills' Place, see <a href="https://www.memills.com">memills.com</a>.
</p>
