<h1>
Emily Mills
</h1>

<h2>
Rosmarinus officinalis
</h2>

<p>
A selective breeding program to develop a USDA zone 5 hardy rosemary variety with exceptional culinary quality: low camphor, high aromatic intensity, and superior flavor both fresh and dried. "Emily Mills" will make outdoor perennial rosemary accessible to growers across the American Northeast and upper Midwest without compromising plant health or culinary excellence.
</p>


